// @import '_variables.scss';

html{
  overflow-x: hidden;
  overflow-y: scroll;
  // border: 5px solid black;
  // height: 100%;
}

body{
  font-family: $font-stack;
  background-color: $background-color;
  // height: 100%;
  // border: 5px solid orange;

}

*{
  box-sizing: border-box;
}