.button__back-button{
    margin: 1rem 0;
}

.button__basic-inactive{
    margin-bottom: 1rem;
    color: white;
    background-color: transparent;
    width: fit-content;
    padding-left: 2.5rem;
}

.button__basic-inactive:hover{
    cursor: pointer;
}

.button__basic-active{
    border-left: .3rem solid white;
}