.button__back-button{
    margin: 1rem 0;
}

.button__basic-inactive{
    color: white;
    background-color: transparent;
    width: fit-content;
    padding: .8rem;
}

.button__basic-inactive:hover{
    cursor: pointer;
}

.button__container{
    // border: .5rem solid transparent;
    padding-left: .5rem;
    margin-bottom: 1rem;
}

.button__basic-active{
    border-left: .5rem solid white;
    padding-left: 0;
}