.dashboard{
    display: flex;
    background-color: $dashboard-background-color;
    width: 60rem;
    margin: 0 auto;
    height: 30rem;
}

.dashboard__main-view{
    padding: 1rem;
    width: 100%;
}

.dashboard__tickets-view-and-control{
    display: flex;
    margin-top: 1rem;
}

.dashboard__new-ticket-view{
    color: white;
}

.dashboard__businesses-view{
    display: flex; 
}