.sidebar{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    color: white;
    background-color: $sidebar-background-color;
}

.sidebar__button{
    padding: 1rem;
}

.sidebar__button:hover{
    cursor: pointer;
}

.sidebar__button-active{
    background-color: $palette-1;
}