.searchbar{
    display: flex;
    width: 100%;
    color: black;
}

.searchbar input{
    width: 100%;
    height: 100%;
}

.searchbar__scope-setting{
    width: 10%;
    font-size: 1.2rem;
    color: $palette-4;
    background-color: $palette-2;
}

.customer-search-bar{
    width: 40%;
    margin-right: 2rem;
}

.searchbar__scope-options-container{
    color: black;
    background-color: white;
    padding: .5rem 1rem;
    position: absolute;
    h3{
        margin: .5rem 0 1rem 0
    }
    right: 0;
}

.scope-option{
    margin-right: 1rem;
}

