.ticket-view-area{
    width: 70%;
}

.ticket-view{
    margin-top: 2rem;
    color: white;
}

.ticket-view__action-button{
    margin: 1rem 0;
}

.ticket-view__ticket-info{
    // border: 5px solid red;
    h1{
        margin-bottom: .5rem;
    }
}