.tickets-control{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 2rem;
    margin-top: 2rem;
}

.tickets-control__button{
    margin-bottom: 1rem;
    color: white;
    background-color: transparent;
    width: fit-content;
    padding-left: 2.5rem;
}

.tickets-control__button:hover{
    cursor: pointer;
}

.tickets-control__active-button{
    border-left: .3rem solid white;
}

.tickets-control__new-ticket-area{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    margin-top: 4rem;
}

.tickets-control__new-ticket-button{
    background-color: $palette-1;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}